<div class="row">
  <nav class="navbar navbar-expand-lg navbar-fixed-left col-md-1 bg-dark">
    <div class="collapse navbar-collapse" >
      <ul class="navbar navbar-nav ">    
        
           <li>
           <a class="nav-link" uiSref="about">about</a>
   </li>
   
   <li>
      <a class="nav-link" uiSref="about.alert">alert</a>
   </li>
   <li>
      <a class="nav-link" uiSref="about.accordion">accordion</a>
   </li>
  
   <li>
      <a class="nav-link" uiSref="about.rating">Rating</a>
   </li>
   <li>
      <a class="nav-link" uiSref="about.button">Button</a>
   </li>
   <li>
      <a class="nav-link" uiSref="about.carousel">carousel</a>
   </li>
   <li>
      <a class="nav-link" uiSref="about.collapse">collapse</a>
   </li>
   <li>
      <a class="nav-link" uiSref="about.dropdown">dropdown</a>
   </li>
  <li>
      <a class="nav-link" uiSref="about.modal">modal</a>
  </li>
  <li>
      <a class="nav-link" uiSref="about.pagination">pagination</a>
  </li>
  <li>
      <a class="nav-link" uiSref="about.popover">popover</a>
  </li>
  <li>
      <a class="nav-link" uiSref="about.progressbar">progressbar</a>
  </li>
  <li>
    <a class="nav-link"uiSref="about.sortable">sortable</a>
  </li>
  <li>
    <a class="nav-link" uiSref="about.tabs">tabs</a>
  </li>
  <li>
    <a class="nav-link" uiSref="about.timepicker">timepicker</a>
  </li>
  <li>
    <a class="nav-link" uiSref="about.tooltip">tooltip</a>
  </li>
  <li>
    <a class="nav-link" uiSref="about.typeahead">typeahead</a>
  </li>
   <li>
    <a class="nav-link" uiSref="about.timepicker">timepicker</a>
  </li>
  <li>
    <a class="nav-link" uiSref="login.logout">Logout</a>
  </li>
      </ul>
    </div>
  </nav>
  <div class="container col-md-9">
    <ui-view></ui-view>
  </div>
  </div>