<ui-view></ui-view><div class="row">
  <nav class="navbar navbar-expand-lg navbar-fixed-left col-md-1 bg-dark">
    <div class="collapse navbar-collapse" >
      <ul class="navbar navbar-nav ">    
        
           <li>
           <a class="nav-link" uiSref="about">about</a>
   </li>
   <li>
      <a class="nav-link" uiSref="alert">alert</a>
   </li>
   <li>
      <a class="nav-link" uiSref="accordion">accordion</a>
   </li>
   <li>
      <a class="nav-link" uiSref="rating">Rating</a>
   </li>
   <li>
      <a class="nav-link" uiSref="button">Button</a>
   </li>
   <li>
      <a class="nav-link" uiSref="carousel">carousel</a>
   </li>
   <li>
      <a class="nav-link" uiSref="collapse">collapse</a>
   </li>
   <li>
      <a class="nav-link" uiSref="dropdown">dropdown</a>
   </li>
  <li>
      <a class="nav-link" uiSref="modal">modal</a>
  </li>
  <li>
      <a class="nav-link" uiSref="pagination">pagination</a>
  </li>
  <li>
      <a class="nav-link" uiSref="popover">popover</a>
  </li>
  <li>
      <a class="nav-link" uiSref="progressbar">progressbar</a>
  </li>
  <li>
    <a class="nav-link"uiSref="sortable">sortable</a>
  </li>
  <li>
    <a class="nav-link" uiSref="tabs">tabs</a>
  </li>
  <li>
    <a class="nav-link" uiSref="timepicker">timepicker</a>
  </li>
  <li>
    <a class="nav-link" uiSref="tooltip">tooltip</a>
  </li>
  <li>
    <a class="nav-link" uiSref="typeahead">typeahead</a>
  </li>
  
      </ul>
    </div>
  </nav>
  <div class="container col-md-9">
    <ui-view></ui-view>
  </div>
  </div>