
<nav class="navbar navbar-expand-lg navbar-fixed-left bg-dark col-md-1">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" uiSref="first">Home</a>
        <a class="nav-link" uiSref="login">Login</a>
        <a class="nav-link" uiSref="about">about</a>
      </li>
      <li class="nav-item">
          <button type="button" class="btn btn-primary" (click)="open = !open" >Alert</button>
        </li>
        <li><br>
            <button type="button" class="btn btn-primary" (click)="openModal(template)">Modal</button>
            <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Modal</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  This is a modal.
                </div>
              </ng-template>
        </li>
        <li><br>
            <button class="btn btn-primary" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">Date</button>
        </li>
    </ul>
  </div>
</nav>


<div class="container col-md-9">
  <ui-view></ui-view>
  <alert type="success" [isOpen] ="open">
      <strong>Well done!</strong> You successfully read this important alert message.
    </alert>
    <input type="text"
    placeholder="Datepicker"
    class="form-control"
    #dp="bsDatepicker"
    bsDatepicker
    [bsValue]="bsValue">
</div>